In [1]:
import pandas as pd

In [2]:
df_loans = pd.read_excel(r"Data/CustomerLoans.xlsx")

In [3]:
df_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5286 entries, 0 to 5285
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustomerNumber                    5286 non-null   int64
 1   CustomerForename                  5286 non-null   object
 2   CustomerSurname                   5286 non-null   object
 3   CustomerGender                    5286 non-null   object
 4   CustomerAccessedAdvice            5286 non-null   object
 5   CustomerPostcode                  5286 non-null   object
 6   CustomerAgeAtStart                5286 non-null   int64
 7   CustomerJobTitle                  5286 non-null   object
 8   CustomerDepartment                5286 non-null   object
 9   CustomerDeprivationDecile         5260 non-null   float64
 10  CustomerIncomeDecile              5260 non-null   float64
 11  CustomerEmploymentDecile          5260 non-null   float64
 12  CustomerEducationandSkillsDecile  5260 non-null   float64
 13  CustomerCrimeDecile               5260 non-null   float64
 14  EmployerName                      5286 non-null   object
 15  EmployerBusinessActivity          5286 non-null   object
 16  EmployerNumberOfEmployees         5286 non-null   int64
 17  LoanStartDate                     5286 non-null   datetime64[ns]
 18  LoanExpectedEndDate               5286 non-null   datetime64[ns]
 19  LoanActualEndDate                 4210 non-null   datetime64[ns]
 20  LoanApplicationMethod             5286 non-null   object
 21  LoanType                          5286 non-null   object
 22  LoanStatus                        5286 non-null   object
dtypes: datetime64[ns](3), float64(5), int64(3), object(12)
memory usage: 950.0+ KB

In [4]:
df_loans["LoanStartMonth"] = df_loans["LoanStartDate"].dt.month
df_loans["LoanStartYear"] = df_loans["LoanStartDate"].dt.year

df_loans["LoanExpectedEndYear"] = df_loans["LoanExpectedEndDate"].dt.year
df_loans["LoanActualEndYear"] = df_loans["LoanActualEndDate"].dt.year

In [5]:
df_loans.head()

,CustomerNumber,CustomerForename,CustomerSurname,CustomerGender,CustomerAccessedAdvice,CustomerPostcode,CustomerAgeAtStart,CustomerJobTitle,CustomerDepartment,CustomerDeprivationDecile,...,LoanStartDate,LoanExpectedEndDate,LoanActualEndDate,LoanApplicationMethod,LoanType,LoanStatus,LoanStartMonth,LoanStartYear,LoanExpectedEndYear,LoanActualEndYear
0,29061,Marian,Williams,F,N,CF2 1YJ,52,Higher Education Lecturer,Human Resources,8.0,...,2016-12-02,2018-03-31,2018-06-29,Online,Bronze,Repaid,12,2016,2018,2018.0
1,81602,Eric,Blackburn,M,N,G93 9NN,31,Engineer (Site),Finance,6.0,...,2017-09-06,2021-09-06,2018-04-25,In Person,Platinum,Defaulted,9,2017,2021,2018.0
2,24053,Gillian,Curtis,F,N,G1 4PP,36,Warden / Ranger,Human Resources,2.0,...,2019-05-15,2020-11-15,2020-11-16,Online,Platinum,Repaid,5,2019,2020,2020.0
3,91503,Beverley,Jenkins,F,N,B0H 5RR,51,Dispensing Optician,Human Resources,2.0,...,2017-01-31,2018-04-30,2017-09-11,Online,Silver,Defaulted,1,2017,2018,2017.0
4,95173,Ashleigh,Jones,F,N,B63 5TW,37,Higher Education Lecturer,Human Resources,10.0,...,2016-09-12,2017-12-11,2017-10-03,Online,Bronze,Repaid,9,2016,2017,2017.0

In [6]:
df_loans.drop(["LoanStartDate", "LoanExpectedEndDate", "LoanActualEndDate"], axis=1, inplace=True)

In [7]:
df_loans.to_excel("Data/CustomerLoans v2.xlsx", index=False)