https://github.com/miguelfzafra/Latest-News-Classifier/blob/master/0.%20Latest%20News%20Classifier/03.%20Feature%20Engineering/03.%20Feature%20Engineering.ipynb

https://github.com/miguelfzafra/Latest-News-Classifier/blob/master/0.%20Latest%20News%20Classifier/04.%20Model%20Training/06.%20MT%20-%20Random%20Forest.ipynb

https://towardsdatascience.com/text-classification-in-python-dd95d264c802

https://github.com/miguelfzafra/Latest-News-Classifier/tree/master/0.%20Latest%20News%20Classifier/04.%20Model%20Training

1. Read in the data
2. Test train split
3. use TFIFD to add in the new features
4. Use an algorithm to make some predictions
5. Assess the accuracy

In [1]:
DATA_IN_FOLDER : str = "data/out/"
    
SOURCE_DATA_FILE : str = "Womens Clothing E-Commerce Reviews with Emotions.xlsx"

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import chi2

In [3]:
df_reviews = pd.read_excel(f"{DATA_IN_FOLDER}{SOURCE_DATA_FILE}")
df_reviews.dropna(inplace=True) 
df_reviews.reset_index(drop=True, inplace=True)
df_reviews.head()

,index,Review Title,Review Text,Review Rating,Review Positive Feedback Count,Review Polarity,Review Sentiment,Review Subjectivity,Review Length,Review Word Count,...,Reviewer Age,Reviewer Age Category,Emotion,Emotion Score,Division,Department,Product ID,Product Name,Product Category,Recommended?
0,1,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,0,0.550000,Positive,0.250000,124,22,...,50,45-54,Joy,0.972142,General Petite,Bottoms,1049,Product 1049,Pants,1
1,2,Flattering shirt,This shirt is very flattering to all due to th...,5,6,0.512891,Positive,0.137500,192,36,...,47,45-54,Joy,0.844207,General,Tops,847,Product 847,Blouses,1
2,3,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,4,0.178750,Positive,0.066250,488,98,...,49,45-54,Joy,0.668897,General,Dresses,1080,Product 1080,Dresses,0
3,4,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,0.133750,Positive,0.215556,496,101,...,39,35-44,Joy,0.573683,General Petite,Tops,858,Product 858,Knits,1
4,5,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,4,0.171635,Positive,-0.007692,482,97,...,39,35-44,Joy,0.554208,General Petite,Tops,858,Product 858,Knits,1

In [4]:
df_reviews['Emotion'].value_counts()

Joy        1588
Sadness     137
Anger        15
Fear         13
Name: Emotion, dtype: int64

In [5]:
emotion_map = {
    'Joy': 0,
    'Sadness': 1,
    'Fear': 2,
    'Anger': 3
}

df_reviews['Emotion Code'] = df_reviews['Emotion']
df_reviews = df_reviews.replace({'Emotion Code': emotion_map})
df_reviews.head()

,index,Review Title,Review Text,Review Rating,Review Positive Feedback Count,Review Polarity,Review Sentiment,Review Subjectivity,Review Length,Review Word Count,...,Reviewer Age Category,Emotion,Emotion Score,Division,Department,Product ID,Product Name,Product Category,Recommended?,Emotion Code
0,1,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,0,0.550000,Positive,0.250000,124,22,...,45-54,Joy,0.972142,General Petite,Bottoms,1049,Product 1049,Pants,1,0
1,2,Flattering shirt,This shirt is very flattering to all due to th...,5,6,0.512891,Positive,0.137500,192,36,...,45-54,Joy,0.844207,General,Tops,847,Product 847,Blouses,1,0
2,3,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,4,0.178750,Positive,0.066250,488,98,...,45-54,Joy,0.668897,General,Dresses,1080,Product 1080,Dresses,0,0
3,4,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,0.133750,Positive,0.215556,496,101,...,35-44,Joy,0.573683,General Petite,Tops,858,Product 858,Knits,1,0
4,5,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,4,0.171635,Positive,-0.007692,482,97,...,35-44,Joy,0.554208,General Petite,Tops,858,Product 858,Knits,1,0

In [6]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1753 entries, 0 to 1752
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           1753 non-null   int64
 1   Review Title                    1753 non-null   object
 2   Review Text                     1753 non-null   object
 3   Review Rating                   1753 non-null   int64
 4   Review Positive Feedback Count  1753 non-null   int64
 5   Review Polarity                 1753 non-null   float64
 6   Review Sentiment                1753 non-null   object
 7   Review Subjectivity             1753 non-null   float64
 8   Review Length                   1753 non-null   int64
 9   Review Word Count               1753 non-null   int64
 10  Review Text Cleaned             1753 non-null   object
 11  Review Text Wordcloud           1753 non-null   object
 12  Reviewer Age                    1753 non-null   int64
 13  Reviewer Age Category           1753 non-null   object
 14  Emotion                         1753 non-null   object
 15  Emotion Score                   1753 non-null   float64
 16  Division                        1753 non-null   object
 17  Department                      1753 non-null   object
 18  Product ID                      1753 non-null   int64
 19  Product Name                    1753 non-null   object
 20  Product Category                1753 non-null   object
 21  Recommended?                    1753 non-null   int64
 22  Emotion Code                    1753 non-null   int64
dtypes: float64(3), int64(9), object(11)
memory usage: 315.1+ KB

In [7]:
# Upsample the reviews
n = df_reviews.shape[0] // len(df_reviews['Emotion Code'].unique())
df_reviews = df_reviews.groupby("Emotion Code").sample(n=n, random_state=42, replace=True)
df_reviews.reset_index(drop=True, inplace=True)

In [8]:
df_reviews['Emotion Code'].value_counts()

0    438
1    438
2    438
3    438
Name: Emotion Code, dtype: int64

In [9]:
ngram_range = (1,2)
min_df = 10
max_df = 1.
max_features = 300

tfidf_vectorizer = TfidfVectorizer(encoding='utf-8', ngram_range=ngram_range, stop_words=None, lowercase=False, max_df=max_df, min_df=min_df, max_features=max_features, norm='l2', sublinear_tf=True)

X = df_reviews['Review Text Wordcloud']
y = df_reviews['Emotion Code']

tfid_features = tfidf_vectorizer.fit_transform(X).toarray()

In [10]:
def get_correlated_ngrams(emotion_code):

    features_chi2 = chi2(tfid_features, y == emotion_code) # For the current emotion, use chi2 stats to evaluate the highest correlations with the target
    indices = np.argsort(features_chi2[0])[::-1] # np.argsort returns the indices that would sort the array ascending, [::-1] makes it descending with the highest correlation in first place
    feature_names = np.array(tfidf_vectorizer.get_feature_names())[indices] # get_feature_names uses the sorted indices to order the features most to least correlated with the target
    
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1] # Selects the feature names that are single words
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2] # Selects the feature names that are two words
    
    return unigrams, bigrams

In [11]:
for emotion, emotion_code in sorted(emotion_map.items()):
    unigrams, bigrams = get_correlated_ngrams(emotion_code)
    
    print(f"{emotion}:")
    print(f"Most correleated unigrams: {', '.join(unigrams[:20])}")
    print(f"Most correleated bigrams: {', '.join(bigrams[:5])}\n")

Anger:
Most correleated unigrams: problem, purchased, pounds, tank, dressy, strike, idea, hanger, flat, open, underneath, appears, exposed, seems, shows, deep, gorgeous, red, quite, reviews
Most correleated bigrams: need wear, pounds usually, reviewers mentioned, size small, runs small

Fear:
Most correleated unigrams: fear, underlayer, pulled, slightly, across, big, squareapple, paint, types, si, space, done, narrow, romper, barely, aline, shoulders, puffy, vest, dots
Most correleated bigrams: runs slightly, types fabric, puffy paint, would say, top looks

Joy:
Most correleated unigrams: perfect, got, great, fits, nice, love, pounds, pair, true, jeans, bad, wearing, design, many, chest, warm, fear, vneck, lay, dry
Most correleated bigrams: true size, runs slightly, need wear, dry clean, fabric bad

Sadness:
Most correleated unigrams: disappointed, sad, suit, saw, bottom, wore, get, pounds, received, stiff, first, great, love, perfect, see, lay, regular, wanted, like, elastic
Most correleated bigrams: runs slightly, need wear, fabric bad, pounds usually, types fabric

Now with 2000 calls into the IBM Watson API and by sampling the data we have a plausible looking set of top unigrams to feed into our own customised algorithm!!

So, ... we can now try joining the tfid_features onto the main data, splitting into train and test and building an algorithm ...

In [12]:
pd.DataFrame(tfid_features)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.355607,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.294135,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.198444,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1747,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
1748,0.0,0.0,0.256952,0.0,0.0,0.000000,0.0,0.0,0.227067,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.497203
1749,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
1750,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.216609,0.226117,0.0,0.0,0.0,0.000000
1751,0.0,0.0,0.256952,0.0,0.0,0.000000,0.0,0.0,0.227067,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.497203

In [13]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752 entries, 0 to 1751
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           1752 non-null   int64
 1   Review Title                    1752 non-null   object
 2   Review Text                     1752 non-null   object
 3   Review Rating                   1752 non-null   int64
 4   Review Positive Feedback Count  1752 non-null   int64
 5   Review Polarity                 1752 non-null   float64
 6   Review Sentiment                1752 non-null   object
 7   Review Subjectivity             1752 non-null   float64
 8   Review Length                   1752 non-null   int64
 9   Review Word Count               1752 non-null   int64
 10  Review Text Cleaned             1752 non-null   object
 11  Review Text Wordcloud           1752 non-null   object
 12  Reviewer Age                    1752 non-null   int64
 13  Reviewer Age Category           1752 non-null   object
 14  Emotion                         1752 non-null   object
 15  Emotion Score                   1752 non-null   float64
 16  Division                        1752 non-null   object
 17  Department                      1752 non-null   object
 18  Product ID                      1752 non-null   int64
 19  Product Name                    1752 non-null   object
 20  Product Category                1752 non-null   object
 21  Recommended?                    1752 non-null   int64
 22  Emotion Code                    1752 non-null   int64
dtypes: float64(3), int64(9), object(11)
memory usage: 314.9+ KB

In [14]:
X = pd.concat([df_reviews.iloc[:,[3,5]], pd.DataFrame(tfid_features)], axis=1)
y = df_reviews['Emotion Code']

There is a bug in pandas version 1.1.3 which will cause ``.info(verbose=True)`` to crash where the DataFrame contains column names that are integers (see https://github.com/pandas-dev/pandas/issues/37408).

The solution is to upgrade to the latest version -

```
pip install --user --upgrade pandas
```

In [15]:
pd.__version__

'1.3.5'

In [16]:
X.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752 entries, 0 to 1751
Data columns (total 302 columns):
 #    Column           Dtype
---   ------           -----
 0    Review Rating    int64
 1    Review Polarity  float64
 2    0                float64
 3    1                float64
 4    2                float64
 5    3                float64
 6    4                float64
 7    5                float64
 8    6                float64
 9    7                float64
 10   8                float64
 11   9                float64
 12   10               float64
 13   11               float64
 14   12               float64
 15   13               float64
 16   14               float64
 17   15               float64
 18   16               float64
 19   17               float64
 20   18               float64
 21   19               float64
 22   20               float64
 23   21               float64
 24   22               float64
 25   23               float64
 26   24               float64
 27   25               float64
 28   26               float64
 29   27               float64
 30   28               float64
 31   29               float64
 32   30               float64
 33   31               float64
 34   32               float64
 35   33               float64
 36   34               float64
 37   35               float64
 38   36               float64
 39   37               float64
 40   38               float64
 41   39               float64
 42   40               float64
 43   41               float64
 44   42               float64
 45   43               float64
 46   44               float64
 47   45               float64
 48   46               float64
 49   47               float64
 50   48               float64
 51   49               float64
 52   50               float64
 53   51               float64
 54   52               float64
 55   53               float64
 56   54               float64
 57   55               float64
 58   56               float64
 59   57               float64
 60   58               float64
 61   59               float64
 62   60               float64
 63   61               float64
 64   62               float64
 65   63               float64
 66   64               float64
 67   65               float64
 68   66               float64
 69   67               float64
 70   68               float64
 71   69               float64
 72   70               float64
 73   71               float64
 74   72               float64
 75   73               float64
 76   74               float64
 77   75               float64
 78   76               float64
 79   77               float64
 80   78               float64
 81   79               float64
 82   80               float64
 83   81               float64
 84   82               float64
 85   83               float64
 86   84               float64
 87   85               float64
 88   86               float64
 89   87               float64
 90   88               float64
 91   89               float64
 92   90               float64
 93   91               float64
 94   92               float64
 95   93               float64
 96   94               float64
 97   95               float64
 98   96               float64
 99   97               float64
 100  98               float64
 101  99               float64
 102  100              float64
 103  101              float64
 104  102              float64
 105  103              float64
 106  104              float64
 107  105              float64
 108  106              float64
 109  107              float64
 110  108              float64
 111  109              float64
 112  110              float64
 113  111              float64
 114  112              float64
 115  113              float64
 116  114              float64
 117  115              float64
 118  116              float64
 119  117              float64
 120  118              float64
 121  119              float64
 122  120              float64
 123  121              float64
 124  122              float64
 125  123              float64
 126  124              float64
 127  125              float64
 128  126              float64
 129  127              float64
 130  128              float64
 131  129              float64
 132  130              float64
 133  131              float64
 134  132              float64
 135  133              float64
 136  134              float64
 137  135              float64
 138  136              float64
 139  137              float64
 140  138              float64
 141  139              float64
 142  140              float64
 143  141              float64
 144  142              float64
 145  143              float64
 146  144              float64
 147  145              float64
 148  146              float64
 149  147              float64
 150  148              float64
 151  149              float64
 152  150              float64
 153  151              float64
 154  152              float64
 155  153              float64
 156  154              float64
 157  155              float64
 158  156              float64
 159  157              float64
 160  158              float64
 161  159              float64
 162  160              float64
 163  161              float64
 164  162              float64
 165  163              float64
 166  164              float64
 167  165              float64
 168  166              float64
 169  167              float64
 170  168              float64
 171  169              float64
 172  170              float64
 173  171              float64
 174  172              float64
 175  173              float64
 176  174              float64
 177  175              float64
 178  176              float64
 179  177              float64
 180  178              float64
 181  179              float64
 182  180              float64
 183  181              float64
 184  182              float64
 185  183              float64
 186  184              float64
 187  185              float64
 188  186              float64
 189  187              float64
 190  188              float64
 191  189              float64
 192  190              float64
 193  191              float64
 194  192              float64
 195  193              float64
 196  194              float64
 197  195              float64
 198  196              float64
 199  197              float64
 200  198              float64
 201  199              float64
 202  200              float64
 203  201              float64
 204  202              float64
 205  203              float64
 206  204              float64
 207  205              float64
 208  206              float64
 209  207              float64
 210  208              float64
 211  209              float64
 212  210              float64
 213  211              float64
 214  212              float64
 215  213              float64
 216  214              float64
 217  215              float64
 218  216              float64
 219  217              float64
 220  218              float64
 221  219              float64
 222  220              float64
 223  221              float64
 224  222              float64
 225  223              float64
 226  224              float64
 227  225              float64
 228  226              float64
 229  227              float64
 230  228              float64
 231  229              float64
 232  230              float64
 233  231              float64
 234  232              float64
 235  233              float64
 236  234              float64
 237  235              float64
 238  236              float64
 239  237              float64
 240  238              float64
 241  239              float64
 242  240              float64
 243  241              float64
 244  242              float64
 245  243              float64
 246  244              float64
 247  245              float64
 248  246              float64
 249  247              float64
 250  248              float64
 251  249              float64
 252  250              float64
 253  251              float64
 254  252              float64
 255  253              float64
 256  254              float64
 257  255              float64
 258  256              float64
 259  257              float64
 260  258              float64
 261  259              float64
 262  260              float64
 263  261              float64
 264  262              float64
 265  263              float64
 266  264              float64
 267  265              float64
 268  266              float64
 269  267              float64
 270  268              float64
 271  269              float64
 272  270              float64
 273  271              float64
 274  272              float64
 275  273              float64
 276  274              float64
 277  275              float64
 278  276              float64
 279  277              float64
 280  278              float64
 281  279              float64
 282  280              float64
 283  281              float64
 284  282              float64
 285  283              float64
 286  284              float64
 287  285              float64
 288  286              float64
 289  287              float64
 290  288              float64
 291  289              float64
 292  290              float64
 293  291              float64
 294  292              float64
 295  293              float64
 296  294              float64
 297  295              float64
 298  296              float64
 299  297              float64
 300  298              float64
 301  299              float64
dtypes: float64(301), int64(1)
memory usage: 4.0 MB

In [17]:
X.head()

,Review Rating,Review Polarity,0,1,2,3,4,5,6,7,...,290,291,292,293,294,295,296,297,298,299
0,5,0.442045,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.355607,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0.275000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.294135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,0.225000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,0.406052,0.0,0.0,0.0,0.0,0.0,0.198444,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.385714,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
y.value_counts()

0    438
1    438
2    438
3    438
Name: Emotion Code, dtype: int64