https://www.kaggle.com/abohelal/random-forest-99-accuracy-knn-96-accuracy/data

In [32]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold, cross_val_score

In [24]:
df_drug = pd.read_csv("drug200.csv")

In [25]:
numerical_features = [feature for feature in df_drug.columns if df_drug[feature].dtypes != 'O']
print("The length of Numerical_values is :",len(numerical_features))
df_drug[numerical_features].head()

The length of Numerical_values is : 2

   Age  Na_to_K
0   23   25.355
1   47   13.093
2   47   10.114
3   28    7.798
4   61   18.043

In [26]:
categorical_features = [feature for feature in df_drug.columns if df_drug[feature].dtypes == 'O']
print("The length of Numerical_values is :",len(categorical_features))
df_drug[categorical_features].head()

The length of Numerical_values is : 4

  Sex      BP Cholesterol   Drug
0   F    HIGH        HIGH  DrugY
1   M     LOW        HIGH  drugC
2   M     LOW        HIGH  drugC
3   F  NORMAL        HIGH  drugX
4   F     LOW        HIGH  DrugY

In [27]:
label_encoder = LabelEncoder()

In [28]:
for feature in categorical_features:
    print(df_drug[feature].unique())
    df_drug[feature]=label_encoder.fit_transform(df_drug[feature])
    print(df_drug[feature].unique())

['F' 'M']
[0 1]
['HIGH' 'LOW' 'NORMAL']
[0 1 2]
['HIGH' 'NORMAL']
[0 1]
['DrugY' 'drugC' 'drugX' 'drugA' 'drugB']
[0 3 4 1 2]

In [29]:
df_drug.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     0
1   47    1   1            0   13.093     3
2   47    1   1            0   10.114     3
3   28    0   2            0    7.798     4
4   61    0   1            0   18.043     0

In [30]:
X = df_drug.drop("Drug", axis=1)
y = df_drug["Drug"]

In [31]:
model = DecisionTreeClassifier(criterion="entropy")
model.fit(X, y)

DecisionTreeClassifier(criterion='entropy')

In [33]:
kfold = KFold(random_state=42, shuffle=True)

cv_results = cross_val_score(model, X, y, cv=kfold, scoring="accuracy")
print(cv_results.mean(), cv_results.std())

0.99 0.012247448713915901